@{

}

@* FIRST DECLENSION NOUN *@
<table class="wikitable">
<caption>First declension paradigm</caption>
<tbody><tr>
<th></th>
<th>Singular</th>
<th>Plural
</th></tr>
<tr>
<th>Nominative
</th>
<td rowspan="2">-a</td>
<td rowspan="2">-ae
</td></tr>
<tr>
<th>Vocative
</th></tr>
<tr>
<th>Accusative
</th>
<td>-am</td>
<td>-ās
</td></tr>
<tr>
<th>Genitive
</th>
<td rowspan="2">-ae</td>
<td>-ārum
</td></tr>
<tr>
<th>Dative
</th>
<td rowspan="2">-īs
</td></tr>
<tr>
    <th>Ablative</th>
    <td>-ā</td>
</tr>
<tr>
    <th>Locative</th>
    <td><i>Gen.</i></td>
    <td><i>Dat.</i>
    </td>
</tr>
</tbody>
</table>


@* SECOND DECLENSION NOUN *@
<table class="wikitable">
<caption>Second declension paradigm
(Nouns ending in -ius and -ium have a genitive singular in -ī)
</caption>
<tbody><tr>
<th rowspan="2">
</th>
<th colspan="2">Singular
</th>
<th colspan="2">Plural
</th></tr>
<tr>
<th>Masculine</th>
<th>Neuter
</th>
<th>Masculine</th>
<th>Neuter
</th></tr>
<tr>
<th>Nominative
</th>
<td>-us</td>
<td rowspan="2">-um</td>
<td rowspan="2">-ī</td>
<td rowspan="3">-a
</td></tr>
<tr>
<th>Vocative
</th>
<td>-e
</td></tr>
<tr>
<th>Accusative
</th>
<td colspan="2">-um</td>
<td>-ōs
</td></tr>
<tr>
<th>Genitive
</th>
<td colspan="2">-ī</td>
<td colspan="2">-ōrum
</td></tr>
<tr>
<th>Dative
</th>
<td rowspan="2" colspan="2">-ō</td>
<td rowspan="2" colspan="2">-īs
</td></tr>
<tr>
<th>Ablative
</th></tr>
<tr>
<th>Locative
</th>
<td colspan="2"><i>Gen.</i></td>
<td colspan="2"><i>Dat.</i>
</td></tr>
</tbody></table>


@* THIRD DECLENSION NOUN *@



<bold>
    <a href="https://en.wikipedia.org/wiki/Latin_declension" target="_blank">Declension may vary, click here for more information</a>
</bold>
<br>
<br>
<br>




<style>
.wikitable {
background-color: #f8f9fa;
color: #202122;
margin: 1em 0;
border: 1px solid #a2a9b1;
border-collapse: collapse;

display: table;
border-collapse: separate;
-webkit-border-horizontal-spacing: 2px;
-webkit-border-vertical-spacing: 2px;
border-top-color: gray;
text-indent: initial;
box-sizing: border-box;

}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
border: 1px solid #a2a9b1;
padding: 0.2em 0.4em;
}


</style>