@using Microsoft.IdentityModel.Tokens
@model IEnumerable<DictusClaudi.Models.DictEntry>

@{
    ViewData["Title"] = "Index";
}

<h1>Search</h1>

<form method="get" action="/Dictionary/Index/">
    <input class="search" type="text" name="searchTerms" placeholder="Search..." />
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<table class="table">
    @if (!Model.IsNullOrEmpty())
    {
        <thead>
        <tr>
            <th>
                Stem
            </th>
            <th>
                Part of Speech
            </th>
            <th>
                English Translation
            </th>
        </tr>
        </thead>
    }
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.WordStem)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayPartOfSpeech)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordTranslation)
            </td>
        </tr>
    }
    </tbody>
</table>
